body {
    margin: 0;
    width: 100%;
    background-image: url("../img/bg-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

h2 {
    color: white;
    font-family: "Titillium web", arial;
    font-size: 3.3em;
    cursor: context-menu;
    transition: all 4s;
    text-shadow: 2px 2px 2px #F3299B;
}

h2:hover{
    transform: scale(1.20) translateY(-30px);
    text-shadow: 4px 4px 8px #F3299B;
    margin-bottom: 5px;
}

.clear {
    position: relative;
    bottom: 30px;
}

.boton {
    padding: 9px 18px;
    font-size: 1.1em;
    color: white;
    font-family: "Titillium web", arial;
    font-weight: 600;
    background-color: rgba(243, 41, 155, 0.1);
    border-radius: 20px;
    border: 2.5px solid #C03081;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 1s;

}

.boton:hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 1px 1px 5px #C03081;
    background-color: rgba(243, 41, 155, 0.5);
}

@media screen and (max-width: 1250px) {
    .container {
        margin-top: 70px;
    }
    
    h2 {
        font-size: 2.8em;
    }

    h2:hover {
        transform: scale(1.10) translateY(-10px);
        margin-bottom: 25px;
    }

    .boton {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1050px) {
    .container {
        margin-top: 70px;
    }

    h2 {
        font-size: 2.3em;
    }

    h2:hover {
        transform: scale(1.10) translateY(-10px);
        margin-bottom: 25px;
    }

    .boton {
        margin-top: 10px;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 930px) {
    .container {
        margin-top: 60px;
    }
}

@media screen and (max-width: 880px) {
    body {
        background-position: center;
        background-position-y: 200px;
    }

    .container {}

    h2 {
        font-size: 2em;
        margin-top: 100px;
    }

    h2:hover {
        transform: none;
    }

    .boton {
        margin-top: 50px;
        font-size: 0.7em;
    }

    .boton:hover {
        transform: none;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-position: center;
        background-position-y: 200px;
    }

    .container {}

    h2 {
        font-size: 1.3em;
        margin-top: 80px;
    }

    h2:hover {
        transform: none;
    }

    .boton {
        margin-top: 50px;
        font-size: 0.7em;
    }

    .boton:hover {
        transform: none;
    }
}

@media screen and (max-width: 440px) {
    body {
        background-position: center;
        background-position-y: 200px;
    }
    .container {
        
    }

    h2 {
        font-size: 1.2em;
        
    }

    h2:hover {
        transform: none;
    }

    .boton {
        margin-top: 50px;
        font-size: 0.5em;
    }

    .boton:hover {
        transform: none;
    }

    @media screen and (max-width: 360px) {
        body {
            background-position: center;
            background-position-y: 200px;
        }

        .container {}

        h2 {
            font-size: 1em;

        }

        h2:hover {
            transform: none;
        }

        .boton {
            margin-top: 50px;
            font-size: 0.5em;
        }

        .boton:hover {
            transform: none;
        }
}